# OS files
.DS_Store
Thumbs.db

# Editor files
.idea
.vscode
todo

#Support files
*.log*
node_modules/

# Folder with builded project files
build/
todo
build/js/main.min.js
php/email.cnf
php/order.php
