section.news
	.container
		.news__list

			.news-story
				a.news-story__link(href="./story.html") Подробнее >
				.news-story__image
					img.news-story__img(src="img/story_01.jpg", alt="Новость")
					a.news-story__title(href="./story.html") Volvo представила улучшенную систему очистки воздуха в салоне
				.news-story__text Коварные ультрадисперсные частицы PM 2.5 (диаметром 2,5 мкм или меньше) негативно влияют на здоровье.

			.news-story
				a.news-story__link(href="./story.html") Подробнее >
				.news-story__image
					img.news-story__img(src="img/story_02.jpg", alt="Новость")
					a.news-story__title(href="./story.html") Hyundai Tucson прибавил в габаритах и технологичности
				.news-story__text Базовая машина стала длиннее на 20 мм (4500), шире на 15 мм (1865) и ниже на пять миллиметров (1650), а колёсная база при этом прибавила 10 мм (2680).

			.news-story
				a.news-story__link(href="./story.html") Подробнее >
				.news-story__image
					img.news-story__img(src="img/story_03.jpg", alt="Новость")
					a.news-story__title(href="./story.html") Офроуд-пакет Tremor поднимет Ford Ranger на новую высоту
				.news-story__text Основные изменения коснулись подвески. Отмечается, что модификация Tremor станет самым подготовленным к бездорожью вариантом в семействе.


section.advantages
	.container
		.advantages__list
			.advantages__item
				.advantages__icon
					+icon('key', 'advantages__svg')
				.advantages__text Услуга "Под ключ" ведём все этапы
			.advantages__item
				.advantages__icon
					+icon('balance', 'advantages__svg')
				.advantages__text Фиксированная итоговая стоимость
			.advantages__item
				.advantages__icon
					+icon('docs', 'advantages__svg')
				.advantages__text Официальный договор
			.advantages__item
				.advantages__icon
					+icon('verified', 'advantages__svg')
				.advantages__text Прозрачность и открытость на всех этапах


footer.footer
	.container
		.footer__list

			.footer-column
				.footer-column__title Главное меню
				ul.footer-column__list
					li.footer-column__item
						a.footer-column__link.footer-column__ttu(href="./") Главная
					li.footer-column__item
						a.footer-column__link.footer-column__ttu(href="./catalog.html") Каталог
					li.footer-column__item
						a.footer-column__link.footer-column__ttu(href="./contacts.html") Контакты
					li.footer-column__item
						a.footer-column__link.footer-column__ttu(href="./customs.html") Таможня
					li.footer-column__item
						a.footer-column__link.footer-column__ttu(href="./service.html") Услуги

			.footer-column
				.footer-column__title О компании
				p.footer-column__text.footer-column__text_lh-medium Компания «LDMotors» на сегодняшний день успешно проводит свою деятельность в сегменте розничных и оптовых продаж автомобилей из США, занимаясь полным комплексом от подборки до ремонта, обслуживания и постановки на учёт автомобилей из Америки. «LDMotors» имеет бизнес лицензии на Copart, IAAI, Manheim, доступ к любым видам закрытых торгов и наименьшими аукционными сборами. Воспользуйтесь возможностью приобрести свой авто с помощью наших специалистов, который будет целиком и полностью соответствовать вашим ожиданиям запросам и параметрам!
		
			.footer-column
				.footer-column__title Контакты
				ul.footer-column__list

					li.footer-column__item
						.footer-column__icon
							+icon('map-mark', 'header-contacts__svg')
						.footer-column__text Кудрявский спуск, 5Б
							br
							| Киев 02000

					li.footer-column__item
						.footer-column__icon
							+icon('phone', 'header-contacts__svg')
						a.footer-column__link(href="tel:+380994085010") +380 99 408 50 10

					li.footer-column__item
						.footer-column__icon
							+icon('mail', 'header-contacts__svg')
						a.footer-column__link(href="mailto:ldmotorsmail@gmail.com") ldmotorsmail@gmail.com