//- include svgSprite mixin
include mixin-icon.pug

doctype html
html(lang="ru")
	block head
		head
			meta(charset="utf-8")
			title LD Motors | Auto import company
			meta(content="width=device-width, initial-scale=1" name="viewport")
			link(rel="stylesheet" href="css/style.min.css?v=6.2")
			link(rel="icon" type="image/png" href="img/favicon.png")
	body.body
		block header
			include header
		block content
		block footer
			include footer
		block modal
			include modal
		block scripts
			script(defer src='js/main.min.js?v=3')
			script(defer src='//code-ya.jivosite.com/widget/GIXzp9onTP')
			script(defer charset="UTF-8" src="//cdn.callbackhunter.com/cbh.js?hunter_code=62afd6401748ae5d4c79a9c7582ef3d0")
