//- include svgSprite mixin
include mixin-icon.pug

doctype html
html(lang="ru")
	block head
		head
			meta(charset="utf-8")
			title LD Motors | Auto import company
			meta(content="width=device-width, initial-scale=1" name="viewport")
			link(rel="stylesheet" href="css/style.min.css?v=6")
			link(rel="icon" type="image/png" href="img/favicon.png")
	body.body
		block header
			include header
		block content
		block footer
			include footer
		block modal
			include modal
		block scripts
			script(defer src='js/main.min.js')
			script(async src='//code-ya.jivosite.com/widget/sHBIMbgwBg')
			script(src="//cdn.callbackhunter.com/cbh.js?hunter_code=0b7ae663ec4e94cf3fd6b0bcb66b40b2" charset="UTF-8" async)
