//- include svgSprite mixin
include mixin-icon.pug

doctype html
html(lang="ru")
	block head
		head
			meta(charset="utf-8")
			title LD Motors | Auto import company
			meta(content="width=device-width, initial-scale=1" name="viewport")
			link(rel="stylesheet" href="css/style.min.css?v=4")
			link(rel="icon" type="image/png" href="img/favicon.png")
	body.body
		block header
			include header
		block content
		block footer
			include footer
		block scripts
			script(defer src='js/main.min.js')
