.customs
	padding: 100px 0
	background-color: $color_dark
	&__slider
		margin-bottom: 60px
	&-slide
		text-align: center
		&__title
			margin-bottom: 20px
			padding: 0
			font-size: 30px
			font-family: $font_futura__bold
			text-transform: uppercase
		&__text
			margin: 0 auto
			max-width: 700px
			line-height: 1.65
	&-rates
		text-align: center
		&__title
			margin-bottom: 30px
			font-family: $font_futura__bold
			font-size: 22px
	&__engines
		display: flex
		align-items: center
		justify-content: center
		&-icon
			height: 60px
			width: 60px
			display: flex
			align-items: center
			justify-content: center
		&-svg
			fill: $color_green
	&-engine
		padding: 15px 30px
		border: 1px solid $color_white
		position: relative
		&__list
		&__item
		&__title
		&__text
		&__price
			margin-top: 10px
			font-family: $font_futura__bold
			color: $color_green
			font-size: 20px
	&-tip
		&__text
	&-content
		&__primary
		&__title
		&__text