
*, :after, :before
	box-sizing: border-box
	-webkit-font-smoothing: antialiased
	-webkit-tap-highlight-color: transparent
	margin: 0
	padding: 0

*:focus, a
	outline: nonce
	text-decoration: none
	color: $color_white

button, input
	border: 0
	outline: none
	border-radius: 0

svg
	height: auto
	width: auto

ul
	list-style: none

img
	max-width: 100%

.body
	font-family: $font_futura__book
	font-size: $size_normal
	color: $color_white

.container
	margin: 0 auto
	width: 100%
	max-width: 1278px