.service
	padding: 100px 0
	background-color: $color_dark
	text-align: center
	line-height: 1.65
	&__bg
		&_head
			position: absolute
			width: 100%
			height: 200px
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			opacity: 0.05
		&_left
			position: absolute
			top: 260px
			left: 0
			width: 230px
			height: 1200px
			opacity: 0.05
	&__head
		position: relative
	&__text
		margin: 0 auto
		max-width: 700px
	&-road
		margin-top: 40px
		&__title
			padding: 20px 0
			color: $color_green
			font-family: $font_futura__bold
		&__list
			display: flex
			flex-direction: column
		&__content
			padding-bottom: 40px
			margin-left: auto
			max-width: 400px
			flex-basis: 49%
		&__text
		&__subtitle
			padding: 10px 0 0
			margin: 0
			font-family: $font_futura__bold
			font-size: 20px
			position: relative
			&::after
				content: ''
				height: 13px
				width: 13px
				background-color: $color_green
				position: absolute
				right: -27px
				top: 50%
				border-radius: 50%
				z-index: 2
		&__line
			margin: 0 20px
			width: 2px
			background-color: $color_green
		&__icon
			padding-bottom: 50px
			margin-right: auto
			max-width: 400px
			flex-basis: 49%
			display: flex
			align-items: center
			justify-content: center
		&__circle
			width: 100px
			height: 100px
			border: 2px solid $color_green
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
		&__svg
			height: 50px
			width: 50px
			fill: $color_green
		&__item
			display: flex
			justify-content: space-between
			text-align: right
			&:nth-of-type(even)
				.service-road__content
					margin-left: 0
					margin-right: auto
					order: 3
					text-align: left
				.service-road__line
					order: 2
				.service-road__icon
					margin-left: auto
					margin-right: 0
				.service-road__subtitle
					&::after
						left: -27px
			&:last-child
				.service-road__content
					padding-bottom: 0
				.service-road__icon
					padding-bottom: 10px
	&__cost
		margin-top: 60px
	&__subtitle
		padding-bottom: 20px
		font-family: $font_futura__bold
		text-transform: uppercase
		font-size: 20px
	&__wrap
		font-family: $font_futura__bold
		font-size: 30px
	&__price
		color: $color_green
	&__currency
		color: darken($color_green, 15)
	&__advantages
		margin-top: 50px
		&-title
			padding: 30px 0
			color: $color_green
			text-transform: uppercase
			font-family: $font_futura__bold
	&__list
		margin: 30px auto 0
		text-align: left
		max-width: 700px
	&__item
		padding-bottom: 5px
	&__number
		padding-right: 2px
		color: $color_green
		font-family: $font_futura__bold
	&__info
		margin: 30px auto 0
		max-width: 450px
		font-size: 16px
	&__descr
		font-family: $font_futura__bold