extends common/layout

block content
	section.catalog
		.container
			.catalog__wrap
				.catalog__list

					.catalog__item
						img.catalog__img(src="img/catalog_01.jpg", alt="Item")

					.catalog__item
						img.catalog__img(src="img/catalog_02.jpg", alt="Item")

					.catalog__item
						img.catalog__img(src="img/catalog_03.jpg", alt="Item")

					.catalog__item
						img.catalog__img(src="img/catalog_04.jpg", alt="Item")

					.catalog__item
						img.catalog__img(src="img/catalog_05.jpg", alt="Item")

					.catalog__item
						img.catalog__img(src="img/catalog_06.jpg", alt="Item")

					.catalog__item
						img.catalog__img(src="img/catalog_07.jpg", alt="Item")

					.catalog__item
						img.catalog__img(src="img/catalog_08.jpg", alt="Item")

					.catalog__item
						img.catalog__img(src="img/catalog_09.jpg", alt="Item")