extends common/layout

block content
	section.contacts
		.container
			.contacts__wrap
				.contacts__content
					ul.contacts__list

						li.contacts__item
							.contacts__icon
								+icon('map-mark', 'contacts__svg')
							.contacts__text
								| Кудрявский спуск, 5Б
								br
								| Киев 0200

						li.contacts__item
							.contacts__icon
								+icon('phone', 'contacts__svg')
							a.contacts__link(href="tel:+380994085010") +380 99 408 50 10

						li.contacts__item
							.contacts__icon
								+icon('phone', 'contacts__svg')
							a.contacts__link(href="tel:+380632540554") +380 63 254 05 54

						li.contacts__item
							.contacts__icon
								+icon('mail', 'contacts__svg')
							a.contacts__link(href="mailto:ldmotorsmail@gmail.com") ldmotorsmail@gmail.com

				.contacts__map
					.contacts__map-main

			.contacts__socials
				h1.contacts__title Мы в социальных сетях
				.contacts__socials-list
					.contacts__social
					.contacts__social