extends common/layout

block content
	section.customs
		.container
			.customs__slider

				.customs-slide
					h2.customs-slide__title Экспедирование авто
					p.customs-slide__text
						| Экспедирование авто — комплекс работ, включающий погрузо-разгрузочные работы в порту, транспортно-экспедиторское обслуживание и расформирование контейнеров.
						br
						| Перевозка авто, приобретенных на аукционах: Copart, Manheim, Insurance Auto Auction включает в себя комплекс работ, который осуществляется в несколько этапов. Начальный этап: после покупки машину доставляют на автовозе до места отгрузки. Далее осуществляется погрузка авто в контейнер. А затем после передачи контейнера в порт и прохождения всех сопутствующих процедур — погрузка на судно. 
						br
						| Когда автомобили доставлены в порт Одесса, Южный или Ильичевск, начинается завершающий этап логистической цепи: погрузочно-разгрузочные работы и экспедирование. Благодаря большому опыту работы мы разработали налаженную и эффективную систему по экспедированию авто, начиная с прибытия контейнера в порт Украины, и заканчивая передачей транспортного средства владельцу. 

				//- .customs-slide
				//- 	h2.customs-slide__title Таможенное оформление
				//- 	p.customs-slide__text
				//- 		| С введением законов  № 8487 и № 8488 о растаможке автомобилей в Украине улучшились условия для ввоза и таможенного оформления подержанных автомобилей из США. Были убраны  экологические ограничения и значительно уменьшен акциз для авто с объемом двигателя более 3,5 литров.

			.customs-rates
				h3.customs-rates__title Базовые ставки акцизного збора на 2020 год в Украине:
				.customs__engines

					.customs-engine
						.customs-engine__title Для бензиновых двигателей
						.customs-engine__list

							.customs-engine__item
								p.customs-engine__text
									| до
									br
									| 3000 см
									sup 3
								.customs-engine__price
									| 50 €
							
							.customs-engine__item
								p.customs-engine__text
									| свыше
									br
									| 3000 см
									sup 3
								.customs-engine__price
									| 100 €

					.customs__engines-icon
						+icon('engine', 'customs__engines-svg')

					.customs-engine
						.customs-engine__title Для дизельных двигателей
						.customs-engine__list

							.customs-engine__item
								p.customs-engine__text
									| до
									br
									| 3500 см
									sup 3
								.customs-engine__price
									| 75 €
							
							.customs-engine__item
								p.customs-engine__text
									| свыше
									br
									| 3500 см
									sup 3
								.customs-engine__price
									| 150 €
			
			.customs-tip
				p.customs-tip__text
					| Также необходимо добавить 20% НДС и 10% ввозной пошлины от оценочной стоимости автомобиля. При постановке на учет взымаются 3-5% в Пенсионный Фонд.
					br
					| Если Вы решили покупать подержанный электрокар, то Вы значительно сэкономите на растаможке. Основными статьями расхода станут непосредственно сам электромобиль и доставка авто из США.

			.customs-content
				.customs-content__primary
					h3.customs-content__title Налоговая ставка для соответствующего авто вычисляется по формуле:
					p.customs-content__text
						| Ставка налога = Базовая ставка * К двигателя * К возраста
						br
						| Коэффициент двигателя вычисляется путем деления объема двигателя в см3 на 100 см3; коэффициент возраста — это возраст авто (полных лет), но не менее 1, а для машин старше 15 лет — не более 15. 
						br
						| Чем моложе автомобиль и меньше объем двигателя, тем меньше акциз. 
						br
						| А, чем меньше цена покупки, тем меньше ввозная пошлина и НДС.
						br
						| Компания LDMotors займется проверкой и подготовкой документации, заполнением и подачей таможенной декларации, чтобы ввоз Вашего авто в Украину оказался быстрым и легким.
						br
						| Наши таможенные брокера проследят за тем, чтобы владельцу автомобиля не пришлось платить лишние платежи, а все документы были подготовлены согласно действующему законодательству. 
						br
						| Мы сэкономим Ваши средства и деньги!
