extends common/layout

block content
	section.main
		.container
			.swiper-container
				.swiper-wrapper.main__slider

					.main-slide.swiper-slide
						h1.main-slide__title Закажите бесплатный подбор от наших специалистов
						.main-slide__subtitle И получите 7-10 вариантов прямо сейчас
						form.main-slide__form(action="order.php" method="post")
							input.main-slide__input(type="text" name="mark" required placeholder="Марка")
							input.main-slide__input(type="text" name="model" required placeholder="Модель")
							input.main-slide__input(type="text" name="budget" required placeholder="Ориентировочный бюджет")
							input.main-slide__input(type="text" name="client" required placeholder="Введите ваше имя")
							input#tel.main-slide__input.phone-mask(type="tel" name="tel" required placeholder="Введите телефон")
							input(type="hidden" name="pr" value="1")
							button.main-slide__button.button(type="submit") Получить подбор

					.main-slide.swiper-slide
						h2.main-slide__title Что входит в стоимость наших услуг?
						.main-slide__wrap
							.main-slide__part.main-slide__left
								.main-slide__image
									img.main-slide__img(src="img/main-slider_car.png", alt="Car")
							.main-slide__part.main-slide__right
								ul.main-slide__list

									li.main-slide__item
										span.main-slide__number 1.
										| Консультация

									li.main-slide__item
										span.main-slide__number 2.
										| Подбор автомобиля

									li.main-slide__item
										span.main-slide__number 3.
										| Проверка истории

									li.main-slide__item
										span.main-slide__number 4.
										| Проведение торгов

									li.main-slide__item
										span.main-slide__number 5.
										| Оплата автомобиля

									li.main-slide__item
										span.main-slide__number 6.
										| Доставка

									li.main-slide__item
										span.main-slide__number 7.
										| Растаможка

									li.main-slide__item
										span.main-slide__number 8.
										| Доставка по Украине

									li.main-slide__item
										span.main-slide__number 9.
										| Ремонт

									li.main-slide__item
										span.main-slide__number 10.
										| Сертификация, учёт

						.main-package
							.main-package__wrap
								.main-package__title Пакет услуг за 499$

							button.main-package__button.button.btn Заказать

				.swiper-pagination

				.swiper-button-prev
				.swiper-button-next