extends common/layout

block content
	section.main
		.container
			.main__slider
				.main-slide
					h1.main-slide__title Закажите бесплатный подбор от наших специалистов
					.main-slide__subtitle И получите 7-10 вариантов прямо сейчас
					form.main-slide__form(action="" method="post")
						
						select.main-slide__select
							option(selected) Марка
							option Audi
							option BMW
							option Honda
						
						select.main-slide__select
							option(selected) Модель
							option 100
							option 80
							option A3
							option A4

						select.main-slide__select
							option(selected) Ориентировочный бюджет
							option 3000$ - 4000$
							option 4000$ - 5000$

						input.main-slide__input(type="text" name="client" required placeholder="Введите ваше имя")
						input#tel.main-slide__input(type="text" name="tel" required placeholder="Введите телефон" v-mask="'+380 99 999 99 99'")

						button.main-slide__button(type="submit") Получить подбор