extends common/layout.pug

block content
	section.service
		.container
			.service__head
				p.service__text 
				| Множество раз слышали о покупке авто из США, но не решались на приобретение из-за недостатка информации? Теперь, купить автомобиль из США не является проблемой.
				br
				| Это вполне реально и даже выгоднее, чем покупка в салоне.
				br
				| Компания LDMоtors попытается подробно рассказать о всех этапах пригона автомобиля с Америки и поможет разобратся во всех нюансах данной процедуры.
				br
				| Приобретение б/у машины из Соединенных Штатов популярно из-за низкой стоимости. Вы можете приобрести автомобиль от 30 до 50% с учетом доставки и растаможки.
			.service__road
				h1.service__title Как происходит процесс доставки авто из США?
			.service__cost
				h2.service__subtitle Стоимость вышеуказаного пакета услуг составляет:
				.service__wrap
					span.service__price 499
					span.service__currency $
			.service__advantages
				h2.service__advantages-title Наши преймущества
				p.service__text Мы помогли сотням водителей с выбором и покупкой автомобиля, вы можете пополнить их ряды
				ul.service__list

					li.service__item
						p.service__text
							span.service__number 1.
							| Мы имеем собственные площадки у каждого порта на территории США.
					
					li.service__item
						p.service__text
							span.service__number 2.
							| Отвечаем за все этапы пригона автомобиля, от выбора и просчетов до восстановления и постановки на учет.

					li.service__item
						p.service__text
							span.service__number 3.
							| Подписываем официальный договор с прописанным порядком и размером платежей.

					li.service__item
						p.service__text
							span.service__number 4.
							| Разъясняем и фиксируем фотографиями каждый шаг на пути автомобиля от дилерской площадки до сервисного центра МВД. Менеджер на связи 24/7.

					li.service__item
						p.service__text
							span.service__number 5.
							| Не выходим за рамки бюджета, рассчитанного при подборе автомобиля. Анализируем состояние автомобиля и, отталкиваясь от него, прикидываем стоимость восстановления и максимальную сумму ставки.

					li.service__item
						p.service__text
							span.service__number 6.
							| Оплата автомобиля и транспортировки совершается через банк напрямую в США.

				.service__info
					.service__descr Воспользуйтесь возможностью приобрести свой авто с помощью наших специалистов уже прямо сейчас!