extends common/layout

block content
	section.service
		.container
			.service__head
				p.service__text 
				| Множество раз слышали о покупке авто из США, но не решались на приобретение из-за недостатка информации? Теперь, купить автомобиль из США не является проблемой.
				br
				| Это вполне реально и даже выгоднее, чем покупка в салоне.
				br
				| Компания LDMоtors попытается подробно рассказать о всех этапах пригона автомобиля с Америки и поможет разобратся во всех нюансах данной процедуры.
				br
				| Приобретение б/у машины из Соединенных Штатов популярно из-за низкой стоимости. Вы можете приобрести автомобиль от 30 до 50% с учетом доставки и растаможки.

			.service-road
				h1.service-road__title Как происходит процесс доставки авто из США?
				.service-road__list

					.service-road__item
						.service-road__content
							p.service-road__text
								| Первым делом, нужно проконсультироваться с нашим специалистом. Он расскажет о ситуации на рынке и о специфике процедуры. Данный этап абсолютно бесплатный. Вы оцениваете, насколько комфортны условия сотрудничества и устраивает 
								br
								| ли Вас качество сервиса.
								br
								|Если решения принято — подписываем договор. Для Вашего удобства, это возможно сделать как в офисе, так и дистанционно.
							.service-road__subtitle Консультация
						.service-road__line
						.service-road__icon
							.service-road__circle
								+icon('help', 'service-road__svg')

					.service-road__item
						.service-road__content
							p.service-road__text
								| Доверяя процесс подбора нам Вы получаете все наилучшие варианты и подходящие предложения в указаные сроки и удобным для Вас способом. Находим машину в оптимальном состоянии и по лучшей цене. Проверяем кто продает авто и не участвовал ли он ранее в торгах, всю историю эксплуатации, а так же сколько у авто было владельцев и не было ли ранее других ДТП.
							.service-road__subtitle Подбор автомобиля
						.service-road__line
						.service-road__icon
							.service-road__circle
								+icon('zoom', 'service-road__svg')

					.service-road__item
						.service-road__content
							p.service-road__text
								| Наша компания владеет большим опытом и статистическими данными, которые помогут определить выигрышную ставку и тем же сэкономив Ваш бюждет. Если авто с прозрачной историей, обсудив все детали с клиентом, мы участвуем на аукционе и совершаем покупку.
							.service-road__subtitle Проведение торгов
						.service-road__line
						.service-road__icon
							.service-road__circle
								+icon('deal', 'service-road__svg')

					.service-road__item
						.service-road__content
							p.service-road__text
								| После удачно проведенных торгов, у клиента есть два дня на его оплату. Наша компания выставляет инвойс (счет-фактура), который нужно оплатить SWIFT переводом напрямую страховому аукциону в любом удобном для клиента банке.
							.service-road__subtitle Оплата автомобиля
						.service-road__line
						.service-road__icon
							.service-road__circle
								+icon('balance', 'service-road__svg')

					.service-road__item
						.service-road__content
							p.service-road__text
								| После оплаты, Ваш автомобиль забирают с площадки и везут в ближайший порт для оформления экспорта. После формирования контейнера, корабль отправляется в точку назначения. На этапах погрузки и выгрузки клиент получает подробный фотоотчет. 
							.service-road__subtitle Доставка
						.service-road__line
						.service-road__icon
							.service-road__circle
								+icon('delivery', 'service-road__svg')

					.service-road__item
						.service-road__content
							p.service-road__text
								| Наши таможенные брокера проследят за тем, чтобы владельцу автомобиля не пришлось платить лишние платежи, а все документы были подготовлены согласно действующем законодательству.
							.service-road__subtitle Растаможка авто
						.service-road__line
						.service-road__icon
							.service-road__circle
								+icon('ukraine', 'service-road__svg')

					.service-road__item
						.service-road__content
							p.service-road__text
								| Оперативно доставим Ваш автомобиль в любую точку нашей страны. По желанию клиента можно оформить индивидуальную адресную доставку.
							.service-road__subtitle Доставка по Украине
						.service-road__line
						.service-road__icon
							.service-road__circle
								+icon('map-mark', 'service-road__svg')

					.service-road__item
						.service-road__content
							p.service-road__text
								| Специалисты компании LDMotors бесплатно просчитают стоимость ремонта Вашего автомобиля, помогут с подбором и покупкой запчастей по выгодным ценам. Также бесплатно предоставят помощь в сертификации авто и регистрации его в МРЭО.
							.service-road__subtitle Ремонт сертификация учёт
						.service-road__line
						.service-road__icon
							.service-road__circle
								+icon('settings', 'service-road__svg')

			.service__cost
				h2.service__subtitle Стоимость вышеуказаного пакета услуг составляет
				.service__wrap
					span.service__price 499
					span.service__currency $
			.service__advantages
				h2.service__advantages-title Наши преймущества
				p.service__text Мы помогли сотням водителей с выбором и покупкой автомобиля, вы можете пополнить их ряды
				ul.service__list

					li.service__item
						p.service__text
							span.service__number 1.
							| Мы имеем собственные площадки у каждого порта на территории США.
					
					li.service__item
						p.service__text
							span.service__number 2.
							| Отвечаем за все этапы пригона автомобиля, от выбора и просчетов до восстановления и постановки на учет.

					li.service__item
						p.service__text
							span.service__number 3.
							| Подписываем официальный договор с прописанным порядком и размером платежей.

					li.service__item
						p.service__text
							span.service__number 4.
							| Разъясняем и фиксируем фотографиями каждый шаг на пути автомобиля от дилерской площадки до сервисного центра МВД. Менеджер на связи 24/7.

					li.service__item
						p.service__text
							span.service__number 5.
							| Не выходим за рамки бюджета, рассчитанного при подборе автомобиля. Анализируем состояние автомобиля и, отталкиваясь от него, прикидываем стоимость восстановления и максимальную сумму ставки.

					li.service__item
						p.service__text
							span.service__number 6.
							| Оплата автомобиля и транспортировки совершается через банк напрямую в США.

				.service__info
					.service__descr Воспользуйтесь возможностью приобрести свой авто с помощью наших специалистов уже прямо сейчас!