extends common/layout

block content
	section.story
		.container
			+icon('story-vertical', 'story__bg')
			.story__wrap
				h1.story__title Audi Q5 отозван из-за дефекта спинки переднего сиденья
				.story__image
					img.story__img(src="img/story-image_01.jpg", alt="Новость")
				p.story__text Некоторые передние сиденья кроссовера Audi Q5 могут иметь «дефект зазора на механизме регулировки спинки сиденья». Отчего он возник и чем грозит, описание отзыва, приведённое Росстандартом, не поясняет. Но те же «ку-пятые» вызваны на ремонт по этой же причине в США. Регулятор NHTSA выложил весь комплект документов по проблеме. Так мы узнали, что некорректный зазор образовался из-за неправильной сварки деталей каркаса сиденья. Он грозит поломкой механизма регулировки в момент аварии, а значит, освободившаяся спинка не сможет правильно удержать человека.
				p.story__text В таком же американском отзыве паркетник Audi Q5 перечислен вместе с моделями Volkswagen Atlas Cross Sport, Atlas, Jetta/Jetta GLI, Tiguan и Audi SQ5. Очевидно, узел регулировки спинки у них идентичен и потенциальный дефект одинаков. Ну а последние отзывы Audi Q5 в России были объявлены в июле 2020-го (дефект инвертора на стартере-генераторе), ноябре 2019-го (плохо закреплённые подкрылки) и мае 2019-го (брак в главном тормозном цилиндре). К слову, в 2021 году ждём в России обновлённый «ку-пятый».